<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Data Obat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="card" style="margin: 2% 25% 2% 25%">
        <div class="card-header bg-dark text-center text-white font-weight-bold">Ubah Penerbangan</div>
        <div class="card-body">
            <form th:action="@{/penerbangan/ubah}" th:object="${penerbangan}" method="POST">
                <input type="hidden" th:field="*{Id}"/>
                <label for="kode">Kode</label>
                <input type="text" class="form-control" name="kode" id="kode" th:value="*{kode}"/>
                <br>
                <label for="waktu">Waktu</label>
                <input type="datetime-local" class="form-control" name="waktu" id="waktu" th:value="*{waktu}"/>
                <br>
                <label for="kotaAsal">Kota Asal</label>
                <input type="text" class="form-control" name="kotaAsal" id="kotaAsal" th:value="*{kotaAsal}"/>
                <br>
                <label for="kotaTujuan">Kota Tujuan</label>
                <input type="text" class="form-control" name="kotaTujuan" id="kotaTujuan" th:value="*{kotaTujuan}"/>
                <br>
                <br>
                <div class="text-right">
                    <a th:href="@{/penerbangan}" class="btn btn-outline-dark mr-2">Batal</a>
                    <button class="btn btn-dark" type="submit" value="Submit">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>