<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Resep</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div class="card" style="margin: 2% 25% 2% 25%">
            <div class="card-header bg-dark font-weight-bold text-center text-white">
                Tambah Pilot
            </div>
            <div class="card-body">
                <form th:href="@{/pilot/tambah}" th:object="${pilot}" method="POST">
                    <label for="nama">Nama</label>
                    <input type="text" class="form-control" name="nama" id="nama" placeholder="Nama"/>
                    <br>
                    <label for="nik">NIK</label>
                    <input type="text" class="form-control" name="nik" id="nik" placeholder="NIK"/>
                    <br>
                    <label for="tempatlahir">Tempat Lahir</label>
                    <input type="text" class="form-control" name="tempatLahir" id="tempatlahir" placeholder="Tempat Lahir"/>
                    <br>
                    <label for="tanggallahir">Tanggal Lahir</label>
                    <input type="date" class="form-control" name="tanggalLahir" id="tanggallahir" placeholder="MM/DD/YYYY"/>
                    <br>
                    <label for="jeniskelamin">Jenis Kelamin</label>
                    <select class="form-control" name="jenisKelamin" id="jeniskelamin">
                        <option value="1">Laki-laki</option>
                        <option value="2">Perempuan</option>
                    </select>
                    <br>
                    <label for="akademiModel">Sekolah</label>
                    <select class="form-control" name="akademiModel" id="akademiModel">
                        <option value="1">Sekolah Terbang Tinggi</option>
                        <option value="2">Sekolah Angkasa Luar</option>
                        <option value="3">Sekolah Galaksi</option>
                        <option value="4">Sekolah Daun Hijau</option>
                        <option value="5">Sekolah Angkatan Udara</option>
                        <option value="6">Sekolah Angkasa Udara</option>
                    </select>
                    <br>
                    <label for="maskapaiModel">Maskapai</label>
                    <select class="form-control" name="maskapaiModel" id="maskapaiModel">
                        <option value="1">LienAir</option>
                        <option value="2">SriAir</option>
                        <option value="3">AsiaAir</option>
                        <option value="4">GarudaAir</option>
                        <option value="5">FlyEmiret</option>
                        <option value="6">ButikAir</option>
                        <option value="7">JakAir</option>
                    </select>
                    <br>
                    <br>
                    <div class="text-right">
                        <a th:href="@{/pilot}" class="btn btn-outline-dark mr-2">Batal</a>
                        <button class="btn btn-dark" type="submit" value="Submit">Tambah</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>