<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cari Pilot</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid" style="margin: 5% 10% 3% 12%">
        <div class="row">
            <div class="col">
                <h4 class="font-weight-bold">Pilih Kode Maskapai</h4>
            </div>
            <div class="col">
                <h4 class="font-weight-bold">Pilih Nama Sekolah</h4>
            </div>
            <div class="col">
            </div>
        </div>
        <form th:action="@{/cari/pilot}">
            <div class="row">
                <div class="col">
                    <select class="form-control" th:name="kodeMaskapai">
                        <option th:value="0">Kode Maskapai</option>
                        <option th:each="maskapai : ${maskapai}" th:text="${maskapai.nama}" th:value="${maskapai.id}" th:selected="${maskapai.id} == ${selectedMaskapai}"></option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-control" th:name="idSekolah">
                        <option th:value="0">Nama Sekolah</option>
                        <option th:each="akademi : ${akademi}" th:text="${akademi.nama}" th:value="${akademi.id}" th:selected="${akademi.id} == ${selectedAkademi}"></option>
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Cari</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card" style="margin: 5% 15% 3% 13%">
        <div class="card-header bg-dark text-white text-center font-weight-bold">Daftar Pilot Berdasarkan Maskapai atau Sekolah</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>NIP</th>
                    </tr>
                </thead>
                <tbody th:if="${selectedPilot}">
                    <tr th:each="pilot, iterationStatus : ${selectedPilot}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${pilot.nama}"></td>
                        <td th:text="${pilot.nip}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
