<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Resep</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <section>
        <br/>
        <div class="card" style="margin: 2% 30% 2% 30%">
            <div class="card-header bg-dark text-center text-white font-weight-bold">Detail Penerbangan</div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <p th:text="Id"><p>
                        </div>
                        <div class="col-7">
                            <p th:text="':  ' + ${penerbangan.Id}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p th:text="'Kode Penerbangan'"><p>
                        </div>
                        <div class="col-7">
                            <p th:text="':  ' + ${penerbangan.kode}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p th:text="Waktu"><p>
                        </div>
                        <div class="col-7">
                            <p th:text="':  ' + ${penerbangan.waktu}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p th:text="'Kota Tujuan'"><p>
                        </div>
                        <div class="col-7">
                            <p th:text="':  ' + ${penerbangan.kotaTujuan}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p th:text="'Tanggal Penugasan'"><p>
                        </div>
                        <div class="col-7">
                            <p th:text="':  ' + ${tanggalPenugasan}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style = "margin: 2% 15% 2% 15%">
        <p>Pilih Pilot</p>
        <form th:action="@{/penerbangan/} + ${penerbangan.id} + @{/pilot/tambah}" th:object="${penerbangan}" method="POST">
            <div class="row">
                <div class="col col-3">
                    <select class="form-control" th:field="*{allPilot}" style="width:100%">
                        <option value="0">--Pilih nama Pilot--</option>
                        <option th:each="availpilot : ${allPilot}" th:text="${availpilot.nama}" th:value="${availpilot}"></option>
                    </select>
                    <input type="hidden" th:value="${availpilot}"/>
                </div>
                <div class="col col-9">
                    <button type="submit" th:value="${availpilot}" class="btn btn-primary">Add Pilot</button>
                </div>
            </div>
        </form>
    </section>
    <section>
        <div class="card" style="margin: 2% 15% 2% 15%">
            <div class="card-header bg-dark text-white text-center font-weight-bold">Daftar Pilot</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>NIP</th>
                            <th>Tanggal Lahir</th>
                            <th>Jenis Kelamin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pilot, iterationStatus : ${listPilot}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${pilot.nama}"></td>
                            <td th:text="${pilot.nip}"></td>
                            <td th:text="${pilot.tanggalLahir}"></td>
                            <td>
                                <div th:if="${pilot.jenisKelamin == 1}">Laki-laki</div>
                                <div th:if="${pilot.jenisKelamin == 2}">Perempuan</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>